table, td, th {
	border: 1px solid green;
}

table.list1 {
	background-color: white;
	border: 1px solid blue;
}

table.list1 th {
	background-color: red;
}


th {
	background-color: green;
	color: white;
}

body {
	background-color: white;
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
/* 	margin-left: 7%;
	margin-top: 1%;
	margin-bottom: 10%;
	margin-right: 10%;
 */	
    background-image: url("../images/Chimp_01.png");
    background-repeat: no-repeat;
    background-position: right top;
}

input {
	margin-left: 10px;
	margin-bottom: 10px;
}

#mainHeading{
	color: green;
	font-size: 32px;
}

img#cart {
	height: 25px;
	width: 30px;
}

form {
/* 	position: relative; */
	background-color: #CCFFCC;
	color: black;
	font-size: 18px;
/* 	margin-left: 250px;
	margin-right: 200px;
	top: 1px;
*/
 }

h1 {
	font-size: 60px;
	margin-left: 392px;
}

h2 {
	margin-left: 405px;
}

div#submit {
	margin-left: 50%;
}
